{% extends "base_content.html" %}
{% block container %}
  <h1>Statement Inspector</h1>
  {% if debate %}
  <!-- <a href=" -->
  <a href="?llpnr={{debate.llp.number}}&debate_nr={{debate.nr|add:-1}}">&lt;&lt; {{debate.nr|add:-1}}</a> |
  <a href="?llpnr={{debate.llp.number}}&debate_nr={{debate.nr|add:1}}">{{debate.nr|add:1}} &gt;&gt;</a>
  {% endif %}
  <form action="?" method="GET">
    <select name="llpnr">
      {% for l in llps %}
        <option value="{{l.number}}" {% if llpnr == l.number%}selected="selected"{% endif %}>
          {{l}}
        </option>
      {% endfor %}
    </select>
    <select name="debate_nr">
      <option value="">-</option>
      {% for d in debates %}
        <option value="{{d.nr}}" {% if debate.id == d.id%}selected="selected"{% endif %}>{{d}}</option>
      {% endfor %}
    </select>
    <label>Display orig.<input type="checkbox" name="show_orig" {% if show_orig%}checked="checked"{% endif %}/></label>
    <input type="submit" value="query"/>
  </form>
  <div>
    {% if debate %}
      <h2>{{debate.title}} <small>LLP{{llpnr}}, {{debate.date}}</small></h2>
      <a href="{{debate.protocol_url}}">{{debate.protocol_url}}</a>

      <div>{% for k, v in stats.text.items %}{{k}}:{{v}} {% endfor %}</div>
      <div>{% for k, v in stats.speaker.items %}{{k}}:{{v}} {% endfor %}</div>

      <table>
      {% for stmt in statements %}
        <tr>
          <td colspan="2">
            <p>
              <a name="{{stmt.model.index}}"></a>
              <a href="#{{stmt.model.index}}">#{{stmt.model.index}}</a>,
              {{stmt.model.person_id}} / {{stmt.model.text_type}} / {{stmt.model.speaker_role}}
              Pages {{stmt.model.page_start}} - {{stmt.model.page_end}}
            </p>
            <p>
              {{stmt.model.date}} - {{stmt.model.date_end}}({{stmt.model.time_start}} - {{stmt.model.time_end}})
            </p>
          </td>
          {%if show_orig %}<td></td>{% endif %}
        </tr>
        <tr>
          <td width="30%">
            <pre style="white-space:pre-line">
{{stmt.annotated}}
            </pre>
          </td>
          <td width="30%">
            <pre style="white-space:pre-line">
{{stmt.clean}}
            </pre>
          </td>
          {%if show_orig %}
          <td width="30%">
            <div>{{stmt.orig}}</div>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </div>

{% endblock %}

