{% extends "base_content.html" %}
{% block container %}
  <h1>Statement Inspector</h1>
  <form action="?" method="GET">
    <select name="llpnr">
      {% for l in llps %}
        <option value="{{l.number}}">{{l}}</option>
      {% endfor %}
    </select>
    <select name="debate_id">
      {% for d in debates %}
        <option value="{{d.id}}">{{d}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="query"/>
  </form>
  <div>
    {% if debate %}
      <h2>{{debate}}</h2>
      <a href="{{debate.protocol_url}}">{{debate.protocol_url}}</a>
      <table>
      {% for stmt in statements %}
        <tr>
          <td>
            <a name="{{stmt.model.index}}"></a>
            <a href="#{{stmt.model.index}}">#{{stmt.model.index}}</a>,
            {{stmt.model.person_id}}, {{stmt.model.speaker_role}},
            Pages {{stmt.model.page_start}} - {{stmt.model.page_end}}</td>
          <td>{{stmt.model.date}} - {{stmt.model.date_end}}({{stmt.model.time_start}} - {{stmt.model.time_end}})</td>
          <td></td>
        </tr>
        <tr>
          <td width="30%">
            <div>{{stmt.orig}}</div>
          </td>
          <td width="30%">
            <pre style="white-space:pre-line">
{{stmt.annotated}}
            </pre>
          </td>
          <td width="30%">
            <pre style="white-space:pre-line">
{{stmt.clean}}
            </pre>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </div>

{% endblock %}

